.container {
  max-width: 900px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 50px auto;
  gap: 20px;
}
.inputContainer {
  text-align: center;
}
.input {
  width: 500px;
  border: none;
  border-bottom: 1px solid black;
  height: 50px;
  font-size: 20px;
}
.input::placeholder {
  font-size: 14px;
}