.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.item {
    text-decoration: none;
    color: black;
}
.logoContainer {
    width: 200px;
    height: 200px;
}
.logo {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}
.cart:hover {
    transform: scale(1.1);
    cursor: pointer;
}