.wrapper {
  width: 200px;
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image {
  width: 100%;
  margin-bottom: 15px;
}

.discription {
  /* border: 1px solid blue; */
}

.name {
  font-weight: 400;
  margin-top: auto;
}

.price {
  margin-top: 8px;
  font-weight: bold;
}

.button {
  width: 100%;
  background-color: #ccc;
  text-transform: uppercase;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  color: black;
}